{
    "s3": {
        "region": "eu-central-1",
        "accessKeyId": "AKIAJ3XBA3R5UCSWIPGA",
        "secretAccessKey": "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",
        "params": {
            "Bucket": "timschoch.com"
        }
    },
    "cloudfront": {
        "key": "AKIAJ3XBA3R5UCSWIPGA",
        "secret": "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",
        "bucket": "timschoch.com",
        "region": "eu-central-1",
        "distributionId": "E2WK2SHIAQCERX"
    }
}