{
    "s3": {
        "region": "eu-central-1",
        "accessKeyId": "QWERASDF123456",
        "secretAccessKey": "QWERASWDFYXCV123456789QWERASDFYXCV",
        "params": {
            "Bucket": "timschoch.com"
        }
    },
    "cloudfront": {
        "key": "QWERASDF123456",
        "secret": "QWERASWDFYXCV123456789QWERASDFYXCV",
        "bucket": "timschoch.com",
        "region": "eu-central-1",
        "distributionId": "YXCVASDF1234"
    }
}