@mixin small {
	@include breakpoint( $smallWidth ) {
		@content;
	}
}
@mixin xsmall {
	@include breakpoint( $xsmallWidth ) {
		@content;
	}
}
@mixin xsmall {
	@include breakpoint( $xsmallWidth ) {
		@content;
	}
}
@mixin breakpoint ( $maxWidth ) {
	@at-root {
		@media only screen and ( max-width: $maxWidth ) {
			& {
				@content;
			}
		}
	}
}

// helper classes
.large {
	@include small {
		display: none;
	}
}
.small {
	display: none;
	@include small {
		display: block;
	}
}
.xsmall {
	display: none;
	@include xsmall {
		display: block;
	}
}