@mixin bp-small {
	@include breakpoint( $smallWidth ) {
		@content;
	}
}
@mixin bp-xsmall {
	@include breakpoint( $xsmallWidth ) {
		@content;
	}
}
@mixin bp-xsmall {
	@include breakpoint( $xsmallWidth ) {
		@content;
	}
}
@mixin breakpoint ( $maxWidth ) {
	@at-root {
		@media only screen and ( max-width: $maxWidth ) {
			& {
				@content;
			}
		}
	}
}

// helper classes
.bpLarge {
	@include bp-small {
		display: none;
	}
}
.bpSmall {
	display: none;
	@include bp-small {
		display: block;
	}
}
.bpXsmall {
	display: none;
	@include bp-xsmall {
		display: block;
	}
}