@function rem( $pixel, $base: $gridBaseFontSize ) {
	@return $pixel / $base * 1rem;
}

@function px( $rem, $base: $gridBaseFontSize ) {
	@return ( $rem / 1rem ) * $base;
}

// --- breakpoint wrappers --- //
@mixin bp-large {
  @include breakpoint ( $smallWidth + 1 ) {
    @content;
  }
}
@mixin bp-small {
  @include breakpoint ( max-width $smallWidth ) {
    @content;
  }
}
@mixin bp-xsmall {
  @include breakpoint ( max-width $xsmallWidth ) {
    @content;
  }
}

/*
see: https://jdsteinbach.com/css/snippet-animate-display-transform/
@mixin grow {
	@keyframes grow {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
}
*/