#home {
	padding-top: 0;
	// height: 80vh;

	.poster {
		position: relative;
		min-height: #{$posterMinHeight};
		height: 500px;
		overflow: hidden;

		color: $fontHeavyColor;
		text-align: center;

		background-image: url( '../images/ux-designer-desktop-60.png' );
		background-position: center center;
		background-size: cover;

			@include bp-small {
				height: auto;
				min-height: #{$posterSmallMinHeight};
			}
			@include bp-xsmall {
				min-height: #{$posterXsmallMinHeight};
			}

		&.dark {
			color: #FFFFFF;
		}

		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: $gridGutterHeight * 2;
			background: rgba( #fff, 0.6 );
		}
	}

	.posterContent {
		padding: $posterPaddingTop $posterPaddingHorizontal $posterPaddingBottom $posterPaddingHorizontal;

		h1,
		h2,
		h3 {
			margin: 0;
			color: inherit;
			strong {
				color: inherit;
			}
		}
		p {
			margin: 0.3rem $gridGutterWidth; // 0.3 is to optically align the tagline with the titles above
		}
		&.posterLarge {
			@include bp-xsmall {
				display: none;
			}
		}
		&.posterXsmall {
			display: none;

			padding-top: $gridGutterHeight * 2;
			padding-bottom: $gridGutterHeight * 2.5; // compensate for line height
			padding-left: $posterPaddingHorizontal * 0.25;
			padding-right: $posterPaddingHorizontal * 0.25;

			@include bp-xsmall {
				display: block;
			}
		}
	}
}