header#pageHeader {
	position: fixed;
	left: 50%;
	transform: translate( $fullWidth * -0.5, 0 );
	min-height: 100%;
	width: $leftColWidth;

	@include bp-small {
		display: flex;

		top: 0;
		padding: $navSmallVerticalPadding 0;
		height: $navSmallInnerHeight;
		min-height: 1px;
		width: $mainColMaxWidth;
		transform: translate( $mainColMaxWidth * -0.5, 0 );
		z-index: 1;

		background: #ffffff;
		border-bottom: 1px solid $navLinePassedBackgroundColor;
	}
	@include bp-xsmall {
		left: 0;
		right: 0;
		padding: $navSmallVerticalPadding $gridGutterWidth * .5;
		transform: none;
		width: auto;
		overflow: hidden;
	}
}
main#pageContent {
	position: absolute;
	left: 50%;
	padding-bottom: rem( 300px );
	padding-bottom: 35vh;

	transform: translate( ( $fullWidth * 0.5 - ( $fullWidth - $mainColMaxWidth ) ) * -1, 0 );
	width: $mainColMaxWidth;
	max-width: $mainColMaxWidth;

	img {
		max-width: 100%;
	}

	@include bp-small {
		padding-top: $navSmallHeight;
		transform: translate( $mainColMaxWidth * -0.5 );
	}
	@include bp-xsmall {
		position: relative;
		left: auto;
		padding: $navSmallHeight $xsmallPadding $gridGutterHeight;
		transform: none;
		width: auto;
		max-width: 1000px;
	}
}
section {
	padding-top: $gridGutterHeight * 5;
	min-height: 300px;

	> h1:first-child,
	> h2:first-child {
		margin-top: 0;
	}


	@include bp-small {
		padding-top: $gridGutterHeight * 4;
	}
	@include bp-xsmall {
		padding-top: $gridGutterHeight * 3;
	}
}