$_spriteTopOffset: px( $navLineHeight ) - 60px;
$_spriteLeftOffset: px( $navIndent ) - 50px;

// --- default nav styling --- //
nav {
	position: relative;

	ul {
		position: relative;
	}

	li {
		position: relative;
		height: $navLineHeight;
		margin: 0;

		line-height: $navLineHeight;
		&:before,
		&:after {
			@extend %light;
			display: none;
			font-style: normal;
		}
	}

	a {
		color: $fontColor;
		text-decoration: none;

		&:hover {
			color: $fontHeavyColor;
		}
	}

	// current navigation
	li.selected a {
		color: $fontHeavyColor;
	}

	// upcomming navigation
	li.selected ~ li a {
		color: $lightFontColor;
	}
}

// --- desktop nav --- //
nav {
	@include bp-large {
		ul {
			// position: relative;
			background-color: $navLineBackgroundColor;
		}

		li {
			//position: relative;
			//height: $navLineHeight;
			margin-left: $navIndent;

			//line-height: $navLineHeight;
			background-color: white;
		}

		// current navigation
		li.selected {
			&:before {
				background-color: $corporateColor;
			}
		}

		// upcomming navigation
		li.selected ~ li {
			&:before {
				background-color: transparent;
			}
		}

		// --- blobbs --- //
		li {
			&:before {
				display: block;
				position: absolute;
				content: "";
				width: $navIndent;
				height: $navLineHeight;
				margin-left: $navIndent * -1;

				background-color: $lightFontHeavyColor;
				background-image: url( '../images/blobbs.png' );
				background-position: $_spriteLeftOffset center;
			}
			&:first-child:before {
				background-position: ( $_spriteLeftOffset + 50px ) center;
			}
			&:last-child:before {
				background-position: ( $_spriteLeftOffset + 100px ) center;
			}
		}

		// current blobb
		// &:before {
		// 	content: "";
		// 	display: block;
		// 	position: absolute;
		// 	height: $navLineHeight;
		// 	width: $navIndent;
		// 	background-color: $fontHeavyColor;
		// }
	}
}

// --- mobile nav --- //
nav {
	@include bp-small {
		margin-left: $gridGutterWidth;

		ul {
			margin: 0;

			li {
				display: inline-block;
				overflow: hidden;
				max-width: 0;

				text-align: right;
				line-height: $navSmallInnerHeight;
				white-space: nowrap;

				transition: max-width .5s;

				a {
					height: $navSmallInnerHeight;
					padding: 0 rem( 5px );
					margin: 0 rem( 5px );

					white-space: nowrap;
				}

				&:before,
				&:after {
					display: inline-block;
					content: "«";
					width: rem( 15px );
					text-align: center;
					margin: 0;
				}
				// past navigations (these is the default state as there is now prev sibling selector in css
				&:after {
					display: none;
				}
				// hide arrows on first and last element
				&:first-child:before,
				&:last-child:after {
					display: none;
				}
			}

			// prev navigation
			li.prev {
				max-width: rem( 147px );
				transition: max-width .5s;
				&:before {
					// width: 0;
					// overflow: hidden;
				}
			}

			// current navigation
			li.selected {
				max-width: rem( 147px );
				transition: max-width .5s;
				a {
					color: $corporateColor;
				}
				&:before,
				&:after {
					display: inline-block;
				}
				&:after {
					content: "»";
				}
				&:first-child:before {
					display: none;
				}
				&:last-child:after {
					display: none;
				}
			}

			// next navigation
			li.selected + li {
				max-width: rem( 147px );
				//transition: max-width .5s;
				&:before {
					display: none;
				}
			}

			// upcomming navigation
			li.selected ~ li {
				text-align: left;
				&:before {
					display: none;
				}
				&:after {
					display: inline;
					content: "»";
				}
				&:last-child:after {
					display: none;
				}
			}




			// upcomming navigation
			// li.selected ~ li {
			// 	display: inline-block;
			// }
		}
	}
}

// --- Logo --- //
.logo {
	margin-top: $gridGutterHeight;
	height: $gridBaseLineHeight * 4;

	text-indent: -10000px;

	background:  url( '../images/forscher.png' );
	background-position: 13px center; // optically align with navigation
	background-repeat: no-repeat;
	background-size: contain;

	@include bp-small {
		flex-shrink: 0;
		margin-top: 0;
		margin-left: $gridGutterWidth * 0.25;
		height: 100%;
		width: rem( 45px );

		background-size: cover;
		background-position: top center;
	}
}