/* --- Placeholders and base classes --- */
%small {
    color: $smallFontColor;
    font-family: $smallFontFamily;
    font-size: $smallFontSize;
    font-weight: $smallFontWeight;
    line-height: $smallFontLineHeight;
}
%smallHeavy {
    @extend %small;
    color: $smallfontHeavyColor;
    font-weight: $smallfontHeavyWeight;
}
.small {
    @extend %small;
    > b,
    > strong {
        @extend %smallHeavy;
    }
}
%light {
    color: $lightFontColor;
    font-weight: $lightFontWeight;
    font-style: $lightFontStyle;
}
%lightHeavy {
    @extend %light;
    color: $lightFontHeavyColor;
}
.light {
    @extend %light;
    > b,
    > strong,
    > a {
        @extend %lightHeavy;
    }
}
%icon {
    @extend .fa;
    font-size: 80%;
    color: $lightFontColor;
}

/* --- Styling -- */
html {
    color: $fontColor;
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: $fontLineHeight;
    //letter-spacing: 0.1px;

    @include bp-small {
        font-size: $gridBaseFontSize * 0.9;
    }
    @include bp-xsmall {
        font-size: $gridBaseFontSize * 0.8;
    }
}
strong {
    color: $fontHeavyColor;
    font-family: $fontHeavyFamily;
    font-weight: $fontHeavyWeight;
}
%aHover {
        color: $linkHoverColor;

        transition: color $fadeInDuration;
}
%a {
    color: $linkColor;
    text-decoration: none;

    transition: color $fadeOutDuration;

    &:hover {
        @extend %aHover;
    }
}
a {
    @extend %a;
}
main#pageContent a {
    border-bottom: 3px solid $lightBackgroundColor;
    transition: border-color $fadeOutDuration;

    &:hover {
        border-color: $corporateColor;
        transition: border-color $fadeInDuration;
    }
}

/* --- Title --- */
h1, h2, h3, h4 {
    margin: $fontLineHeight * 0.5 0 0 0;
    padding: 0;

    color: $headingFontColor;
    font-family: $headingFontFamily;
    font-size: $headingFontSize;
    font-weight: $headingfontHeavyWeight;
    line-height: $headingFontLineHeight;

    strong {
        font-family: $headingFontFamily;
        font-weight: $headingfontHeavyWeight + 100;
    }
}
@for $i from 1 through $headingBaseLevel - 1 {
    $_multiplier: $headingBaseLevel - $i;

    h#{$i} {
        $_margin-top: $gridGutterHeight * $headingMultiplier * $_multiplier;
        margin-top: $_margin-top;
        margin-bottom: $_margin-top % $gridGutterHeight;

        font-size: $headingFontSize * $headingFontMultiplier * $_multiplier;
        line-height: $headingFontLineHeight * $headingLineHeightMultiplier * $_multiplier;
    }
}
p {
    margin: 0 0 $fontLineHeight * 0.5 0;
}

/* --- Lists --- */
ul {
    list-style-type: none;
    margin: $gridGutterHeight * 0.5 0;
    padding: 0;

    li {
        margin-bottom: $gridGutterHeight * 0.125;
        margin-left: $listIndent;

        &:before {
            content: '-';
            display: inline-block;
            margin-left: $listIndent * -1;
            width: $listIndent;
        }

        &.noBullet:before {
            display: none;
        }
    }
}

/* --- Quotes --- */
blockquote {
    margin: $gridGutterHeight * .5 $quoteIndent;
    > p:first-of-type:before,
    > p:last-of-type:after {
        display: inline-block;
        width: $quoteIndent;

        color: $lightFontColor;
        font-weight: 300;
        font-size: 120%;
    }

    > p:first-of-type:before {
        content: '«';
        margin-left: $quoteIndent * -1;
    }
    > p:last-of-type:after {
        content: '»';
        text-align: right;
    }
    footer {
        @extend %small;
        cite {
            @extend %light;

            display: block;
            padding-left: $quoteCiteIndent;


            span {
                @extend %smallHeavy;
                white-space: nowrap;
            }
            .name {
                &:before {
                    content: '—';
                    display: inline-block;
                    width: $quoteCiteIndent;
                    margin-left: $quoteCiteIndent * -1;
                }
            }
            .jobtitle:before {
                content: "";
                display: block;
            }
            .company {
                white-space: inherit;
            }
        }
    }
}
blockquote + blockquote {
    margin-top: $gridGutterHeight * 2;
}

// --- figures --- //
figure {
    margin: $gridGutterHeight * .5 0;

    figcaption {
        @extend %small;
        @extend %light;
    }
}


figure + figure {
    margin-top: $gridGutterHeight * 2;
}