#work {
	article {
		margin: $gridGutterHeight 0;
		padding-bottom: $gridGutterHeight;

		border-bottom: 1px solid $workDividerColor;

		header {
			display: flex;
			align-items: flex-start;
			align-content: flex-start;
			justify-content: flex-start;

			@include bp-xsmall {
				display: block;
			}

			> img {
				display: block;
				flex-shrink: 0;
				width: $workHeaderImgWidth;
				margin-right: $gridGutterWidth;
			}


			h3 {
				@extend %a;
				margin: 0;
			}
			.methods {
				@extend %small;

				li {
					margin: 0;
					display: inline-block;

					&:before {
						display: none;
					}

					&:after {
						content: ' // ';
					}
					&:last-of-type:after {
						display: none;
					}
				}
			}
			.more,
			.less {
				@extend %small;
				font-size: 60%;
				line-height: 1;
				vertical-align: 2px;

				display: inline-block;
				padding: 2px 5px;
				margin-left: $gridGutterWidth * .5;

				border: 1px solid $workDividerColor;
				border-radius: 3px;

				transition: color $fadeOutDuration,
					border-color $fadeOutDuration;

				&:before {
					content: ' » ';
					vertical-align: 1px;
				}

				&:hover {
					color: $corporateColor;

					transition: color $fadeInDuration,
						border-color $fadeInDuration;
				}
			}

			.less {
				display: none;

				&:before {
					content: ' « ';
				}
			}

			// hover
			&:hover {
				cursor: pointer;

				h3 {
					color: $corporateColor;
					@extend %aHover;
				}
				a {
					border-color: $corporateColor;
				}
			}
		}

		// detail styling
		details {
			margin-top: $gridGutterHeight;
			display: none;
		}


		// selected styling
		&.selected {
			header {
				.more {
					display: none;
				}
				.less {
					display: inline-block;
				}
			}
			details {
				display: block;
			}
		}
	}
}