#work {
	article {
		margin: $gridGutterHeight 0;
		padding-bottom: $gridGutterHeight;

		border-bottom: 1px solid $workDividerColor;

		header {
			display: flex;
			align-items: flex-start;
			align-content: flex-start;
			justify-content: flex-start;

			@include bp-xsmall {
				display: block;
			}

			> figure {
				position: relative;
				display: block;
				flex-shrink: 0;
				width: $workHeaderImgWidth;
				height: $workHeaderImgWidth;
				margin: 0 $gridGutterWidth 0 0;
				overflow: hidden;

				img {
					position: absolute;
					top: 50%;
					left: 50%;
					min-height: 100%;
					min-width: 100%;
					max-width: inherit;
					transform: translate( -50%, -50% );
				}

				@include bp-xsmall {
					width: 100%;
					height: rem( 200px );
					height: 35vh;
					margin-right: 0;
				}
			}


			h3 {
				@extend %a;
				margin: 0;

				@include bp-xsmall {
					margin-top: $gridGutterHeight * 0.5;
				}
			}
			.methods {
				@extend %light;

				li {
					margin: 0;
					display: inline-block;

					&:before {
						display: none;
					}

					&:after {
						content: ' // ';
					}
					&:last-of-type:after {
						display: none;
					}
				}
			}
			.lead {
				max-height: 15 * $fontLineHeight;
				transition: max-height 0.2s;
			}
			.more,
			.less {
				@extend %light;

				display: block;

				border: none;

				&:before {
					@extend %icon;
					content: '\f107'; // .fa-angle-down
					margin-right: rem( 10px );
				}

				&:hover {
					color: $corporateColor;
				}
				@include bp-xsmall {
					color: $fontColor;
					padding: rem( 5px ) rem( 10px );
					border: 1px solid $lightBackgroundColor;
					background: $lightBackgroundColor;
					border-radius: rem( 2px );
				}
			}

			.less {
				display: none;

				&:before {
					content: '\f106'; // .fa-angle-up

				}
			}

			// hover
			&:hover {
				cursor: pointer;

				h3 {
					color: $corporateColor;
					@extend %aHover;
				}
				a {
					border-color: $corporateColor;
				}
				.more,
				.less {
					color: $corporateColor;
					@extend %aHover;
				}
			}
		}

		// detail styling
		.details {
			margin-top: $gridGutterHeight;
			display: none;

			&.flash,
			&.flash h4 {
				animation: flash-work 1s;
			}

			@at-root {
				@keyframes flash-work {
					20% { color: inherit }
					60% { color: $corporateColor }
					100% { color: inherit }
				}
			}
		}


		// selected styling
		&.selected {
			header {
				.lead {
					// max-height: 0;
					overflow: hidden;
				}
				.more {
					display: none;
				}
				.less {
					display: block;
				}
			}
			.details {
				display: block;
			}
		}
	}
}
#work article.jsd header > figure > img {
	left: 0;
	top: 0;
	transform: none;
}
#work article.firmendesign header > figure {
	@include bp-xsmall {
		left: 10px;
		height: 80px;
	}

	> img {
		left: 0;
		top: 0;
		transform: none;

		@include bp-small {
			top: -8px; // optically align with title
			transform: scale(0.9); // shrink it to fit into the box
			transform-origin: 0 0;
		}
	}
}