@import 'functions';

// --- base font size --- //
$gridBaseFontSize: 20px;
$gridBaseLineHeight: rem( 32px );

$gridGutterHeight: $gridBaseLineHeight;
$gridGutterWidth: $gridGutterHeight;

// --- base animation values --- //
$fadeInAnimation: easeIn;
$fadeInDuration: 50ms;
$fadeOutAnimation: easeOut;
$fadeOutDuration: 200ms;


// --- Typography ------- //
$corporateColor: #E84D1D;

$fontColor: #333;
$fontFamily: 'Open Sans', sans-serif;
$fontSize: $gridBaseFontSize;
$fontWeight: 400;
$fontLineHeight: $gridBaseLineHeight;

$fontHeavyColor: #000;
$fontHeavyFamily: $fontFamily;
$fontHeavyWeight: 600;

$lightOpacity: 0.5;
$lightFontColor: mix( white, $fontColor, $lightOpacity * 100 );
$lightFontWeight: 400;
$lightFontStyle: italic;
$lightFontHeavyColor: mix( $fontColor, $lightFontColor, 30% );
$lightBackgroundColor: mix( white, $lightFontColor, 80% );

$smallFontColor: $lightFontColor;
$smallFontFamily: $fontFamily;
$smallFontSize: rem( $fontSize * 0.8 );
$smallFontWeight: 300;
$smallFontLineHeight: $fontLineHeight * 0.8;
$smallfontHeavyColor: $lightFontHeavyColor;
$smallfontHeavyWeight: 400;

$headingFontColor: $fontHeavyColor;
$headingFontFamily: 'Assistant', sans-serif;
$headingFontSize: rem( 22px );
$headingfontHeavyWeight: 600;
$headingFontLineHeight: $fontLineHeight;
$headingMultiplier: 1.25;
$headingFontMultiplier: $headingMultiplier;
$headingLineHeightMultiplier: 1.1;
$headingBaseLevel: 4;

$linkColor: $fontHeavyColor;
$linkHoverColor: $corporateColor;

// --- Layout ------ //
$leftColWidth: rem( 200px );
$mainColMaxWidth: rem( 600px );
$fullWidth: $mainColMaxWidth + $gridGutterWidth + $leftColWidth;
$smallWidth: px( $fullWidth + 2 * $gridGutterWidth );
$xsmallWidth: px( $mainColMaxWidth + 2 * $gridGutterWidth );

// --- Lists --- //
$listIndent: $gridGutterWidth * 0.5;

// --- Quote --- //
$quoteIndent: $gridGutterWidth * 0.5;
$quoteCiteIndent: 20px; // manually adjusted to fit em dash in the cite font size

// --- Navigation --- //
$navIndent: $gridGutterWidth;
$navLineHeight: $fontLineHeight * 1.2;
$navLineBackgroundColor: $lightBackgroundColor;
$navLinePassedBackgroundColor: $lightFontHeavyColor;
$navSmallHeight: $gridBaseLineHeight * 2;
$navSmallVerticalPadding: rem( 10px );
$navSmallInnerHeight: $navSmallHeight - $navSmallVerticalPadding * 2;

// --- home --- //
$posterMinHeight: 60vh;
$posterSmallMinHeight: 70vh;
$posterXsmallMinHeight: 50vh;
$posterPaddingTop: $gridGutterHeight * 5.5;
$posterPaddingBottom: $gridGutterHeight * 4;
$posterPaddingHorizontal: $gridGutterHeight * 0.5;



// --- Work --- //
$workHeaderImgWidth: rem( 200px );
$workDividerColor: $lightBackgroundColor;

// bower:scss
@import "bower_components/sassy-maps/sass/_sassy-maps.scss";
@import "bower_components/breakpoint-sass/stylesheets/_breakpoint.scss";
@import "bower_components/components-font-awesome/scss/font-awesome.scss";
// endbower

@import 'scaffolding';